{% extends "base.html" %} {% block title %}Distribution of public expenditure on education in the UK by spenders{% endblock %} {% block content
    %}
    <form method="POST">
      <h3 align="center">UK distribution of public expenditure on education by spenders</h3>
      <div class="form-group">
        <label for="Years">Specific year of data you want to check</label>
        <input
          type="Years"
          class="form-control"
          id="Years"
          name="Years"
          placeholder="Enter the year"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
      <br />
      {% if user %}
        {% if institutional_distribution %}
          <h2>Result for year {{ institutional_distribution.Years }}</h2>
          <p>TOTAL spendeing in thousands: {{ institutional_distribution.TOTAL }}</p>
          <p>Central_Government spendeing in thousands: {{ institutional_distribution.Central_Government }}</p>
          <p>LEA spendeing in thousands: {{ institutional_distribution.LEA }}</p>
          <p>UGC spendeing in thousands: {{ institutional_distribution.UGC }}</p>
        {% else %}
          <p>Enter a number between 1880 and 2019 please.</p>
        {% endif %}
      {% endif %}
    {% endblock %}